<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-browser-ubiix"
    version="1.0.0">

    <platform name="browser">
        <js-module src="src/sipProxy.js" name="SipProxy">
            <merges target="" />
        </js-module>
    </platform>
</plugin>